src/main/resources/properties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="paysysprop" type="paysyspropType"/>
  <xs:complexType name="databaseType">
    <xs:sequence>
      <xs:element type="xs:string" name="driver"/>
      <xs:element type="xs:string" name="url"/>
      <xs:element type="xs:string" name="user"/>
      <xs:element type="xs:string" name="password"/>
      <xs:element type="xs:string" name="maxconnections"/>
      <xs:element type="xs:string" name="initconnections"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paysyspropType">
    <xs:sequence>
      <xs:element type="databaseType" name="database"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>